.logo{
  height: 13vh;
  float: left;
}
.company-name{
  margin-top: 4vh;
}
@media (max-width: 500px) {
  .company-name{
    display: none;
  }
}
.nav-item{
  margin: 10px;

}
.nav-link{
  font-size: 20px;
}
.profile-menu-list{
  padding-left: 10px;
}
