<!--<div class="container-fluid top-header">-->
  <!--<div class="container text-right">-->
    <!--<nav class="navbar navbar-expand-lg justify-content-between ">-->
      <!--<ul style="list-style: none;">-->
        <!--<li class="nav-item active d-none d-lg-block ">-->
          <!--<a class="nav-link nav-top" href="#">-->
            <!--<i class="fa fa-phone"></i>-->
            <!--1888-742-4496-->
          <!--</a>-->
        <!--</li>-->
        <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link nav-top dropdown-toggle" href="#" id="SupprtMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--Support-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="SupprtMenu">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="nav-item dropdown">-->
          <!--<a class="nav-link nav-top dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--My account-->
          <!--</a>-->
          <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</nav>-->
  <!--</div>-->
<!--</div>-->
<div class="container-fluid top-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between top-header" >
      <a class="navbar-brand"></a>
      <form class="form-inline my-3 my-lg-0">
        <ul style="list-style: none">
          <li class="nav-item active d-none d-lg-block ">
            <a class="nav-link nav-top" href="#">
              <i class="fa fa-phone"></i>
              1833-506-1666
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link nav-top dropdown-toggle" href="#" id="SupprtMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Support
            </a>
            <div class="dropdown-menu" aria-labelledby="SupprtMenu">
              <a class="dropdown-item" href="#">Contact Us</a>
              <a class="dropdown-item" href="#">Help</a>
              <a class="dropdown-item" href="#">FAQ</a>
            </div>
          </li>
          <li class="nav-item dropdown" *ngIf="!webService.User && !webService.Token"(click)="openLogin()">
            <a class="nav-link nav-top" style="cursor: pointer;" >
              My account
            </a>
            <!--<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">-->
              <!--<a class="dropdown-item" href="#">Action</a>-->
              <!--<a class="dropdown-item" href="#">Another action</a>-->
              <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--</div>-->
          </li>
          <li class="nav-item dropdown" *ngIf="webService.User && webService.Token">
            <a class="nav-link nav-top dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{webService.User?.FullName}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">My Profile</a>
              <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
            </div>
          </li>
        </ul>
      </form>
    </nav>
  </div>
</div>

<div class="container-fluid">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between" style="background: white!important;">
      <a class="navbar-brand">
        <img class="my-logo" src="assets/logo.png"/>
        <span class="blue-text"><b>GLOBE <span class="orange-text">ON</span>  WINGS</b></span>
      </a>
      <form class="form-inline my-3 my-lg-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ">
            <a class="nav-item nav-link active" href="#">FLIGHTS</a>
            <a class="nav-item nav-link" href="#">HOTELS</a>
            <a class="nav-item nav-link" href="#">PACKAGES</a>
            <a class="nav-item nav-link orange-text" style="cursor: pointer" (click)="openCheckout()">PAY NOW</a>
          </div>
        </div>
      </form>
    </nav>
  </div>
</div>
