.top-header{
  background: #46505c !important;
  height: 40px;
  padding-top: 8px;
}
.nav-top{
  color: white!important;
  text-transform:uppercase;
  font-size: 0.7em;
}
.nav-item{
  float: left!important;
}
.my-logo{
  height: 40px;
  width: 47px;
  margin-bottom: 10px;

}
