<br>
<div class="container">
  <div class="destination-link">
    <h4>Popular US Domestic Flights</h4>
    <ul class="row mffooter__Qlinks abtTestEnabled">

      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airfare/cheap-flights-to-hawaii">Flights to Hawaii</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/cheap-flights-to-atlanta-georgia-atl">Atlanta</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/cheap-flights-to-houston-hou">Houston</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/cheap-flights-to-miami-mia">Miami</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airfare/cheap-flights-to-denpasar-bali">Denpasar</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airfare/cheap-flights-to-san-francisco">San Francisco</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/cheap-flights-to-new-york-nyc">New York</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airfare/cheap-flights-to-san-diego">San Diego</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/cheap-flights-to-atlanta-georgia-atl">Flights To Atlanta</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airfare/cheap-flights-to-san-francisco">San Francisco</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airfare/cheap-flights-to-longview">Longview</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airfare/cheap-flights-to-las-vegas">Las Vegas</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/cheap-flights-to-boston-bos">Boston</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airfare/cheap-flights-to-helena">Helena</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airfare/cheap-flights-to-salt-lake-city">Salt Lake City</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/cheap-flights-to-chicago-chi">Chicago</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airfare/cheap-flights-to-washington-dc">Washington</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airfare/cheap-flights-to-shanghai">Shanghai</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/united-state-flights">Flights to United States</a></li>
    </ul>
    <!--  <ul class="row mffooter__Qlinks abtTestEnabled " id="more-links">
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights To Southwest</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to United States</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to Hawaii</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Atlanta</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Houston</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Miami</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Denpasar</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Francisco</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">New York</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Diego</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights To Southwest</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to United States</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to Hawaii</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Atlanta</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Houston</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Miami</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Denpasar</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Francisco</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">New York</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Diego</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights To Southwest</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to United States</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to Hawaii</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Atlanta</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Houston</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Miami</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Denpasar</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Francisco</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">New York</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Diego</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights To Southwest</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to United States</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to Hawaii</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Atlanta</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Houston</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Miami</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Denpasar</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Francisco</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">New York</a></li>
         <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Diego</a></li>
      </ul>
      <ul>
         <li class="col-lg-2 col-md-2 col-sm-3 col-xs-4 abs"><a id="more-open" routerLink="javascript:void(0)">View More</a></li>
      </ul>-->
  </div>
</div>
<hr/>
<div class="container">
  <div class="destination-link">
    <h4>Most Popular Airlines</h4>
    <ul class="row mffooter__Qlinks abtTestEnabled">
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/air-france-flights/">Air France</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/delta-air-lines-reservations-and-flights/">Delta Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/emirates-airlines-flights-ek/">Emirates Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/united-airlines-flights/">United Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/british-airways-flights/">British Airways</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/singapore-airlines-flights-sq/">Singapore Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/qatar-airways-flights-qr/">Qatar Airways </a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/turkish-airlines-flights/">Turkish Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/singapore-airlines-flights-sq/">Singapore Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/lufthansa-airline-flights/">Lufthansa Airlines </a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/copa-airlines-flights/">Copa Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/westjet-airlines-flights/">WestJet Airlines </a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/klm-airlines-flights/">KLM Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/malaysia-airlines-reservations/">Malaysia Airlines </a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/hawaiian-airlines-flights/">Hawaiian Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/iberia-airlines-flights/">Iberia Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/jet-airways-flights/">Jet Airways</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/alaska-airlines-flights-and-reservations/">Alaska Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/air-canada-airlines-flights-and-reservations/">Air Canada</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/southwest-airlines-flights-and-reservations/">Southwest Airlines </a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/virgin-america-reservations-and-flights/">Virgin America</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/spicejet-airlines-reservations/">SpiceJet Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/airtran-airways-flights-fl/">AirTran Airways</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/american-airlines-flights-and-reservations/">American Airlines </a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/frontier-airlines-flights-and-reservations/">Frontier Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/jetblue-airlines-flights-and-reservations/">JetBlue Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/spirit-airlines-flights-and-reservations/">Spirit Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/air-berlin-airline-flights-ab/">Air Berlin </a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/air-china-airline-flights-ca/">Air China</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/austrian-airline-flights-os/">Austrian Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/aeromexico-airline-flights-am/">Aeromexico Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/airbaltic-airline-flights-bt/">airBaltic Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/air-europa-airline-flights-ux/">Air Europa</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/asiana-airline-flights-oz/">Asiana Airlines </a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/air-transat-airline-flights-ts/">Air Transat </a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/nippon-airways-flights-nh/">All Nippon Airways </a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/avianca-airline-flights-av/">Avianca Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/aer-lingus-airline-flights-ei/">Aer lingus</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/alitalia-airline-flights-az/">Alitalia Airlines</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/airlines/allegiant-air-airline-flights-g4/">Allegiant Airlines </a></li>
    </ul>
    <!--<ul class="row mffooter__Qlinks abtTestEnabled" id="more-links1">
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights To Southwest</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to United States</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to Hawaii</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Atlanta</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Houston</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Miami</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Denpasar</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Francisco</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">New York</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Diego</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights To Southwest</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to United States</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to Hawaii</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Atlanta</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Houston</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Miami</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Denpasar</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Francisco</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">New York</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Diego</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights To Southwest</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to United States</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to Hawaii</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Atlanta</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Houston</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Miami</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Denpasar</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Francisco</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">New York</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Diego</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights To Southwest</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to United States</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Flights to Hawaii</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Atlanta</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Houston</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Miami</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">Denpasar</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Francisco</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">New York</a></li>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="#">San Diego</a></li>
    </ul>
    <ul>
       <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4 abs"><a id="more-open1" routerLink="javascript:void(0)">View More</a></li>
    </ul>-->
  </div>

</div>
<br>
<div class="destination-link bg-color">
  <div class="container">
    <h4>Quick Links</h4>
    <ul class="row mffooter__Qlinks abtTestEnabled">
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/about-us">About Us</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/contact">Contact us</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/affiliates">Join An Affiliate</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/faq">FAQ</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/privacy">Privacy Policy</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/terms">Terms & Conditions</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/testimonials">Testimonials</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/air-baggage">Baggage Fees</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="https://www.seatguru.com/">Airline Seat Map</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="http://www.iflybags.com/">Airline Baggage Fees</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="http://www.xe.com/">Currency Exchange</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="http://www.tollfreeairline.com/">Airlines Toll Free</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="https://GlobeOnWings.com/blog/">Travel Blog</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/user-reviews">Clients Review</a></li>
      <li class="col-lg-2 col-md-3 col-sm-3 col-xs-4"><a routerLink="/refund-policy">Disclaimer & Refund Policy</a></li>
    </ul>
  </div>
</div>
<br>
<div class="subscribe">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12" style="float: left">
        <div class="subscribe-form">
          <h6>Never miss out on exclusive travel deals!</h6>
          <div class="list-inline">
            <form id="Subscribe" method="post">
              <input type="email" placeholder="Enter Your Email" class="email-sub" name="email_subscribe" id="email_subscribe" required style="color:#000;" maxlength="30">
              <input type="submit" class="subscribe-box" name="email" value="Subscribe"></form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-4 col-xs-12 offset-lg-1" style="float: right;text-align: right">
        <a class="social-icons" href="https://www.facebook.com/globeon.wings.7" title="GlobeOnWings Facebook Page Icon &amp; Link" target="_blank">
          <img src="assets/images/social-1.gif" title="GlobeOnWings Facebook Page Icon">
        </a>
        <a class="social-icons" href="https://twitter.com/GlobeWings" title="GlobeOnWings Twitter Page Icon &amp; Link" target="_blank"><img src="assets/images/social-2.gif" alt="GlobeOnWings Twitter Page Icon &amp; Link"></a>
        <a class="social-icons" href="" title="GlobeOnWings Pinterest Page Icon &amp; Link" target="_blank"><img src="assets/images/social-3.gif" alt="GlobeOnWings Pinterest Page Icon &amp; Link"></a>
        <a class="social-icons" href="" title="GlobeOnWings Google+ Page Icon &amp; Link" target="_blank"><img src="assets/images/social-4.gif" alt="GlobeOnWings Google+ Page Icon &amp; Link"></a>
        <a class="social-icons" href="" title="Flights Services Inc. Linkedin Company Page Icon &amp; Link" target="_blank"><img src="assets/images/social-5.gif" alt="Flights Services Inc. Linkedin Company Page Icon &amp; Link"></a>
        <a class="social-icons" href="" title="GlobeOnWings Youtube Page Icon &amp; Link" target="_blank"><img src="assets/images/social-6.gif" alt="GlobeOnWings Youtube Page Icon &amp; Link"></a>
        <a class="social-icons" href="https://www.instagram.com/social.globeonwings.com2018/" title="GlobeOnWings Instagram Page Icon &amp; Link" target="_blank"><img src="assets/images/instagram.gif" alt="GlobeOnWings Instagram Page Icon &amp; Link"></a>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <!--<div class="container">-->
    <!--<div class="col-sm-4 text-white">-->
      <!--<p>-->
        <!--Address:-->
      <!--</p>-->
      <!--<p>-->
        <!--9919 TOPAZ AVE APT 7-->
        <!--<br>-->
        <!--HESPERIA CA 92345-->
      <!--</p>-->
    <!--</div>-->

  <!--</div>-->
  <p class="copyright-text text-center">
    Copyright &copy; 2018 GlobeonWings Inc.
  </p>
</div>
<div class="disclaimer">
  <div class="container">
    <div>
      <i style="float: left" class="toggle"></i>&nbsp;&nbsp;&nbsp;&nbsp;<p style="float: left;margin-left: 10px;">Disclaimer</p>
    </div>
    <div class="content">
      <br>
      <b>Tearms And Conditions</b>
      <p style="font-size: 10px;">Globeonwings.com or any of its workers or specialist is not in charge of any risk or harm because of the carelessness or mistake of a carrier, dealer or the traveler, nor Globeonwings.com or its representatives can be considered in charge of any adjustments in the cancellation of flights or aircraft timetable. Additional terms and conditions of purchase</p>
      <b>Low Fare Promise</b>
      <p style="font-size: 10px;">The Prices shown on the site are comprehensive of duties with no concealed expense and these are a portion of the best air passages, which are liable to accessibility. It doesn’t affirm the availability of seats. Kindly do tell us once you chose the cost of your goal to claim the availability of seats and flights.</p>
      <br>
    </div>
  </div>
</div>
