<div class="container-fluid ">
  <!--Quick Link Section Starts fom Here-->

  <div class="row my-padding" style="background-color:#999 !important;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h2>Quick Links</h2>
    </div>
  </div>
  <div class="row my-padding" style="background-color:#999 !important; color:white;">

    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
      <ul class="footer-list">
        <h3>Adress</h3>
        <li>
          <p>Lorem ipsum dolor sit amet</p>
        </li>

      </ul>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
      <ul class="footer-list">
        <h3>Blogs</h3>
        <li>
          <a href="#">Blog 1</a>
        </li>

        <li>
          <a href="#">Blog 2</a>
        </li>

        <li>
          <a href="#">Blog 3</a>
        </li>

      </ul>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
      <ul class="footer-list">
        <h3>Gallery</h3>
        <li>
          <a href="#">Gallery 1</a>
        </li>

        <li>
          <a href="#">Gallery 2</a>
        </li>

        <li>
          <a href="#">Gallery 3</a>
        </li>

      </ul>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
      <ul class="footer-list">
        <h3>Support</h3>
        <li>
          <a href="#">Link 1</a>
        </li>

        <li>
          <a href="#">Link 2</a>
        </li>

        <li>
          <a href="#">Link 3</a>
        </li>


      </ul>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
      <ul class="footer-list">
        <h3>Menu</h3>
        <li>
          <a href="#">Home</a>
        </li>

        <li>
          <a href="#">About</a>
        </li>

        <li>
          <a href="#">Blog</a>
        </li>


      </ul>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
      <ul class="social">
        <h3>Social</h3>
        <li>
          <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
        </li>

        <li>
          <a href="#"><i class="fa fa-github fa-2x"></i></a>
        </li>

        <li>
          <a href="#"><i class="fa fa-linkedin fa-2x"></i></a>
        </li>


      </ul>
    </div>
  </div>
</div>
