.my-spinner-container{
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(0,0,0,0.8);
  top: 0;
  display: table;
  text-align: center;
  z-index: 1000000;
}
.my-spinner{
  display: table-cell;
  vertical-align: middle;
  horiz-align: center;
  padding-left: 48vw;
}
.cl-white{
  color: white;
}
