<div class="bgimg-1">
  <div class="caption">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <mat-radio-group>
            <mat-radio-button value="1">Option 1</mat-radio-button>
            <mat-radio-button value="2">Option 2</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <br>
      <div class="row">
         <div class="col-md-4">
           <div class="input-group">
             <div class="input-group-prepend">
               <span class="input-group-text" ><i class="fas fa-map-marker"></i></span>
             </div>
             <input type="text" class="form-control form-control-lg"  placeholder="Type Departure City">
           </div>
         </div>
        <div class="col-md-4">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" ><i class="fas fa-map-marker"></i></span>
            </div>
            <input type="text" class="form-control form-control-lg"  placeholder="Type Destination City">
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group">

            <input class="form-control form-control-lg" [matDatepicker]="myDatepicker">
            <div class="input-group-append bg-white">
              <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="input-group">
            <input class="form-control form-control-lg" [matDatepicker]="myDatepicker2">
            <div class="input-group-append bg-white" >
              <mat-datepicker-toggle [for]="myDatepicker2"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker2></mat-datepicker>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-2">
          <p>Adult</p>
          <div class="input-group ">
            <div class="input-group-prepend bg-white">
              <button class="btn btn-outline-secondary" (click)="adults(false)" type="button">
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <input type="number" [(ngModel)]="detail.adults" min="0" disabled class="form-control form-control-lg" value="0"  >
            <div class="input-group-append bg-white">
              <button class="btn btn-outline-secondary" (click)="adults(true)"  type="button">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <p>Child</p>
          <div class="input-group ">
            <div class="input-group-prepend bg-white">
              <button class="btn btn-outline-secondary" (click)="adults(false)" type="button">
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <input type="number" [(ngModel)]="detail.adults" min="0" disabled class="form-control form-control-lg" value="0"  >
            <div class="input-group-append bg-white">
              <button class="btn btn-outline-secondary" (click)="adults(true)"  type="button">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <p>Infants</p>
          <div class="input-group ">
            <div class="input-group-prepend bg-white">
              <button class="btn btn-outline-secondary" (click)="adults(false)" type="button">
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <input type="number" [(ngModel)]="detail.adults" min="0" disabled class="form-control form-control-lg" value="0"  >
            <div class="input-group-append bg-white">
              <button class="btn btn-outline-secondary" (click)="adults(true)"  type="button">
                <i class="fas fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <p>Class</p>
          <div class="form-group">
            <select class="form-control form-control-lg" id="sel1">
              <option>All</option>
              <option>First Supersonic</option>
              <option>Business</option>
              <option>Economic</option>
              <option>Premium Economy</option>
            </select>
          </div>
        </div>
        <div class="col-md-2">
          <p>&nbsp;</p>
          <button type="button" style="width: 100%" class="btn btn-lg  btn-primary">Search</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">Parallax Demo</h3>
  <p>Parallax scrolling is a web site trend where the background content is moved at a different speed than the foreground content while scrolling. Nascetur per nec posuere turpis, lectus nec libero turpis nunc at, sed posuere mollis ullamcorper libero ante lectus, blandit pellentesque a, magna turpis est sapien duis blandit dignissim. Viverra interdum mi magna mi, morbi sociis. Condimentum dui ipsum consequat morbi, curabitur aliquam pede, nullam vitae eu placerat eget et vehicula. Varius quisque non molestie dolor, nunc nisl dapibus vestibulum at, sodales tincidunt mauris ullamcorper, dapibus pulvinar, in in neque risus odio. Accumsan fringilla vulputate at quibusdam sociis eleifend, aenean maecenas vulputate, non id vehicula lorem mattis, ratione interdum sociis ornare. Suscipit proin magna cras vel, non sit platea sit, maecenas ante augue etiam maecenas, porta porttitor placerat leo.</p>
</div>

<div class="bgimg-2">
  <div class="caption">
  <div class="container">
      <div class="row ">
        <div class="col-md-4 full_mobile bestPrieguara">
          <div class="bestpriimg">
            <img src="http://www.flightsservices.com/assets/theme_dark/images/best-pri.png">
          </div>
          <div class="bestpridesc">
            <h2>Best Price <br>Guaranteed</h2>
          </div>
        </div>
        <div class="col-md-4 nopad full_mobile custsatific">
          <div class="bestpriimg">
            <img src="http://www.flightsservices.com/assets/theme_dark/images/cus-satifi.png">
          </div>
          <div class="custmasatifi">
            <h2>99.9% Customer <br>Satisfaction</h2>
          </div>
        </div>
        <div class="col-md-4 nopad full_mobile custsuprt">
          <div class="bestpriimg">
            <img src="http://www.flightsservices.com/assets/theme_dark/images/cus-supp.png">
          </div>
          <div class="bestpridesc">
            <h2>24/7 Customer <br>Support</h2>
          </div>
        </div>
      </div>
      <!--<div class="alllets hide">-->
        <!--<div class="col-md-6 nopad">-->
          <!--<div class="inerlets">-->
            <!--<h3 class="letshed">Keep in Touch</h3>-->
            <!--<form action="home/subscriber" method="post">-->
              <!--<div class="signupfm">-->
                <!--<input type="email" class="signinpt" placeholder="Enter your email..." required="required" name="subscriber_id">-->
                <!--<input type="submit" class="subtbtn" value=">">-->

              <!--</div>-->
            <!--</form>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-6 nopad">-->
          <!--<div class="inerlets splfetpd">-->
            <!--<h3 class="letshed">Lets Follow Us</h3>-->
            <!--<div class="signupfm1">-->

            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-3">
  <!--<div class="caption">-->
    <!--<span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">SCROLL UP</span>-->
  <!--</div>-->
</div>

<div style="position:relative;">
  <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
    <p>Scroll up and down to really get the feeling of how Parallax Scrolling works.</p>
  </div>
</div>

<div class="bgimg-1">
  <!--<div class="caption">-->
    <!--<span class="border">COOL!</span>-->
  <!--</div>-->
</div>

<!--Contact Form-->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
