.parallax {
  /* The image used */
  background-image: url("../../assets/img/background.jpg");
  /* Set a specific height */
  min-height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.example-radio-group {
  display: inline-block;
  flex-direction: column;

}

.example-radio-button {
  margin: 10px;
  color:white;
}
.mat-radio-outer-circle{
  border-color:white !important;
}

.my-padding{
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
}



.my-height{
  height: 350px !important;
}
.card-image
{
  background: url("../../assets/img/background.jpg");
  height: 200px;
}
.heading-style{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.p-style{
  color:gray;
  font-size:14px;
}

.tolocton {
  float: right;
}

.formlocton {
  float: left;
}



.card{
  background-color: #FFFFFF;
  padding:0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius:4px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);

}
.card:hover{
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  color:black;
}
.card img{
  width:100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.card h4{
  margin:20px;
}
.card p{
  margin:20px;
  opacity: 0.65;
}
.col-lg-12,.col-md-12,.col-sm-12,.col-xs-12 {
  margin-top: 20px;
}
