<div class="container-flud">
  <div class="row my-padding" >
    <div class="col-md-12 col-sm-12 col-lg-12-col-xs-12">
      <p>To center an image, set left and right margin to auto, and make it into a block element.</p>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12-col-xs-12">
      <div>
        <img src="http://www.flightsservices.com/assets/theme_dark/images/payment.png" alt="payment-support" style="width:50%;" class="images-style">
        <!--<img src="http://www.flightsservices.com/assets/theme_dark/images/payment.png" alt="payment-support" style="max-width:100%;align-self: center">-->
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12-col-xs-12">
      <p>To center an image, set left and right margin to auto, and make it into a block element.</p>
    </div>
  </div>
  <div class="row my-padding" style="min-height:50px;">
 <div class="toggle"> <span  style="padding-left:35px;"><b>Disclaimer</b></span></div>

     <div class="content">
       <br>
       <h6>Tearms And Conditions</h6>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
      text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
      with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</div>
  </div>

  </div>

