<div class="parallax">
  <div class="container">
  <div class="col-xs-12 col-md-4 col-sm-12 nopad bestpricsecIn">
  <div class="col-xs-4 full_mobile bestPrieguara">
  <div class="bestpriimg">
  <img src="http://www.flightsservices.com/assets/theme_dark/images/best-pri.png">
  </div>
  <div class="bestpridesc">
  <h2>Best Price <br>Guaranteed</h2>
  </div>
  </div>
  <div class="col-xs-12 col-md-4 col-sm-12 nopad full_mobile custsatific">
  <div class="bestpriimg">
  <img src="http://www.flightsservices.com/assets/theme_dark/images/cus-satifi.png">
  </div>
  <div class="custmasatifi">
  <h2>99.9% Customer <br>Satisfaction</h2>
  </div>
  </div>
  <div class="col-xs-12 col-md-4 col-sm-12 nopad full_mobile custsuprt">
  <div class="bestpriimg">
  <img src="http://www.flightsservices.com/assets/theme_dark/images/cus-supp.png">
  </div>
  <div class="bestpridesc">
  <h2>24/7 Customer <br>Support</h2>
  </div>
  </div>
  </div>


</div>
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-4 col-sm-12 col-xs-12">-->
        <!--<div class="bestpriimg">-->
          <!--<img src="http://www.flightsservices.com/assets/theme_dark/images/best-pri.png">-->
        <!--</div>-->
        <!--<div class="bestpridesc">-->
          <!--<h2>Best Price <br>Guaranteed</h2>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-md-4 col-sm-12 col-xs-12">-->
        <!--<div class="bestpriimg">-->
          <!--<img src="http://www.flightsservices.com/assets/theme_dark/images/cus-satifi.png">-->
        <!--</div>-->
        <!--<div class="custmasatifi">-->
          <!--<h2>99.9% Customer <br>Satisfaction</h2>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="col-md-4 col-sm-12 col-xs-12">-->
        <!--<div class="bestpriimg">-->
          <!--<img src="http://www.flightsservices.com/assets/theme_dark/images/cus-supp.png">-->
        <!--</div>-->
        <!--<div class="bestpridesc">-->
          <!--<h2>24/7 Customer <br>Support</h2>-->
        <!--</div>-->

      <!--</div>-->

    <!--</div>-->

  <!--</div>-->
<!--</div>-->


