<div class="card ">
  <div class="card-header">Remarks Form</div>
  <div class="card-body ">
    <div class="form-group">
      <textarea class="form-control  form-control-lg" placeholder="Enter Remerks"></textarea>
    </div>
    <label><b>Client Interested ? </b></label>
    <br>
    <mat-radio-group >
      <mat-radio-button color="primary" value="Yes">Yes</mat-radio-button>
      &nbsp;&nbsp;&nbsp;
      <mat-radio-button color="primary" value="No">No</mat-radio-button>
      &nbsp;&nbsp;&nbsp;
      <mat-radio-button color="primary" value="May Be">May Be</mat-radio-button>
      <!--<mat-radio-button color="primary" value="Multi City"><span style="color: white" >Multi City</span></mat-radio-button>-->
    </mat-radio-group>
  </div>
</div>

